<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <div>
    <form action="/submission" method="post">
        <input type="text" name="name" id="name">
        <input type="number" name="age" id="age">
        <input type="text" name="place" id="place">
        <input type="password" name="password" id="password">
        <button type="submit">Submitt data</button>
    </form>
    </div>
   
<div>
        <% users.forEach(data => { %>
            <%= data.name %>
            <br>
            <%= data.age %>
            <br>
            <%= data.place %>
            <br>
            <%= data.password %>
            <br>
        <div>
            <form action="/delete/<%= data.age %>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
        <div></div>
            <form action="/edit/<%= data.age %>?_method=PUT" method="post">
                <input type="text" name="name1" id="name1" placeholder="Name change here">
                <button type="submit">Edit</button>
            </form>
        </div>
        <% }); %>
       
</div>
</body>
</html>